.header {
  display: flex;
  flex-direction: column;
  position: sticky;
}
@media screen and (min-width: 768px) {
  .header {
    height: 170px;
    padding: 50px 226px 0 60px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .header {
    height: 66px;
    padding: 50px 42px 0 60px;
  }
}
.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--background-alt-color);
  height: 45px;
  padding-right: 15px;
  padding-left: 22px;
}
@media screen and (min-width: 768px) {
  .header__top {
    width: 482px;
    height: 25px;
    margin-bottom: 30px;
    padding-left: 7px;
    background: transparent;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .header__top {
    margin-right: 0;
    margin-left: auto;
    padding-right: 0;
    max-width: 482px;
  }
}
.header__nav-lang {
  display: flex;
  align-items: center;
}
.header__nav-lang__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  width: 99px;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}
.header__nav-lang__list_link {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
}
.header__nav-lang__list_link:hover {
  display: flex;
  background: var(--accent-color);
  background-size: 25px 33px;
  padding: 5px 7px;
  margin: 0 -7px;
  border-radius: 8px;
  font-size: 12px;
  color: #fff;
}
.header__refer {
  display: flex;
  height: 20px;
  width: 104px;
}
@media screen and (min-width: 768px) {
  .header__refer {
    display: flex;
    height: 25px;
    min-width: 383px;
    justify-content: space-between;
    align-items: center;
    padding-left: 6px;
  }
}
.header__refer__circle {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__refer__circle {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--text-color);
  }
}
.header__refer__phone {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-color);
}
.header__refer__phone:hover {
  color: var(--accent-color);
}
.header__refer__map {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__refer__map {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-color);
  }
  .header__refer__map:hover {
    color: var(--accent-color);
  }
}
.header__refer__facebook {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__refer__facebook {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }
  .header__refer__facebook svg.facebook path {
    stroke: #FFFFFF;
    fill: #FFFFFF;
  }
  .header__refer__facebook svg.facebook path:hover {
    stroke: var(--accent-color);
    fill: var(--accent-color);
  }
}
.header__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 57px;
  background: transparent;
  padding-left: 15px;
  padding-right: 22px;
}
@media screen and (min-width: 768px) {
  .header__bottom {
    height: 60px;
    padding: 0;
    margin-bottom: 29px;
    background: transparent;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .header__bottom {
    margin-top: -55px;
    margin-bottom: auto;
    max-width: 320px;
  }
}
.header__logo-group {
  display: flex;
  gap: 4px;
  width: 177px;
}
.header__logo-group:hover .neon-icon {
  stroke: rgb(36, 163, 255);
  stroke-dasharray: 60;
  stroke-dashoffset: 600;
  animation: two 5s linear infinite;
}
@keyframes two {
  100% {
    transform: translate(0, 0);
    stroke-dashoffset: 1;
  }
}
@media screen and (min-width: 768px) {
  .header__logo-group {
    width: 318px;
  }
}
.header__about-us {
  width: 88px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  margin: 15px 0 18px auto;
}
@media screen and (min-width: 768px) {
  .header__about-us {
    font-size: 36px;
    line-height: 44px;
    width: 159px;
    margin: 0;
  }
}
.header__burger-icon {
  display: block;
  width: 32px;
  height: 32px;
  margin-top: auto;
  margin-bottom: auto;
  color: transparent;
}
@media screen and (min-width: 768px) {
  .header__burger-icon {
    display: none;
  }
}
.header__burger-icon:active {
  background-color: var(--separator-color);
  border-radius: 8px;
  color: var(--main-color);
}
.header__dash {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__dash {
    display: flex;
    width: 416px;
    height: 25px;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .header__dash {
    margin: -18px 0 auto auto;
    padding-bottom: 0;
  }
}
.header__dash__nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 416px;
}
.header__dash__nav_link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  color: var(--regular-color);
}
.header__dash__nav_link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.header__dash__nav_link:active {
  color: var(--accent-color);
}

.logo__label {
  text-decoration: none;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .logo__label {
    width: 130px;
    height: 60px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .logo__label_svg {
    width: 100%;
    height: 100%;
  }
}

.logo__slash {
  display: block;
  height: 26px;
  width: 11.6px;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .logo__slash {
    width: 21px;
    height: 47px;
    margin-top: 0;
  }
}

.burger-icon__nav {
  display: block;
  align-content: center;
  position: absolute;
  height: 700px;
  width: 100%;
  left: 0;
  top: 102px;
  transform: scale(1);
}
@media screen and (min-width: 768px) {
  .burger-icon__nav {
    display: none;
  }
}

.burger-icon__nav_list:before {
  content: "";
  display: block;
  position: absolute;
  background: var(--white-color);
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 351px;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .burger-icon__nav_list:before {
    display: none;
  }
}

.burger-icon__nav_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: -580px;
  left: calc(50vw - 180px);
  width: 359px;
  height: 351px;
  background: #FFFFFF;
  border-radius: 12px 12px 0 0;
  transition: 0.7s;
  box-sizing: border-box;
  padding: 50px 15px;
  list-style: none;
  transform: scale(1);
  z-index: 66;
}
@media screen and (min-width: 768px) {
  .burger-icon__nav_list {
    display: none;
  }
}
.burger-icon__nav_list:after {
  content: "";
  position: absolute;
  left: calc(163px - 50vw);
  top: -290px;
  width: 100vw;
  height: 750px;
  background: var(--main-color);
  opacity: 0.7;
  z-index: 4;
}

.nav__toggle {
  border: none;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 32px;
  width: 32px;
  z-index: 7;
}

span.span {
  height: 3px;
  position: absolute;
  background: var(--text-color);
  width: 18px;
  top: -36px;
  left: calc(100vw - 64px);
  transition: 0.5s;
  cursor: pointer;
}
span.span:nth-child(2) {
  height: 3px;
  width: 18px;
  top: -30px;
  left: calc(100vw - 64px);
}
span.span:nth-child(3) {
  height: 3px;
  width: 18px;
  top: -24px;
  left: calc(100vw - 64px);
}
@media screen and (min-width: 768px) {
  span.span {
    display: none;
  }
}

#nav__toggle:checked ~ .nav__toggle span.span {
  position: absolute;
  transform: translate(-30px, 30px) rotate(45deg);
  transition: 0.5s;
  top: 90px;
  left: calc(50vw + 170px);
  background: #EC6F5D;
  color: #EC6F5D;
  opacity: 1;
  z-index: 5;
}
#nav__toggle:checked ~ .nav__toggle span.span:nth-child(2) {
  opacity: 0;
}
#nav__toggle:checked ~ .nav__toggle span.span:nth-child(3) {
  transform: translate(-30px, 30px) rotate(-45deg);
  top: 90px;
  left: calc(50vw + 170px);
  color: #EC6F5D;
}
#nav__toggle:checked ~ .burger-icon__nav_list {
  left: calc(50vw - 180px);
  top: 80px;
  opacity: 1;
  transform: scale(1);
  z-index: 3;
}
#nav__toggle:checked ~ .maintenance {
  opacity: 0;
}

.maintenance {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 43px;
  border-radius: 12px;
  text-decoration: none;
  background: var(--background-color);
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: var(--regular-color);
  z-index: 67;
}

.maintenance:hover {
  color: var(--accent-color);
}

.maintenance:active {
  background: var(--separator-color);
}

:root {
  --white-color:#FFFFFF;
  --text-color:#B3B3BA;
  --soft-color: #686887;
  --accent-color: #F0145A;
  --main-color: #323264;
  --alternativ-color:#46466E;
  --regular-color:#24A3FF;
  --hover-color:#0085FF;
  --activ-color:#006CCF;
  --background-color:#F5F5FA;
  --background-alt-color:#EDEDF7;
  --separator-color:#E6E6F0;
  --shadow-color:#CACADB;
  --shadow-light-color:#E7E7F2;
  --main-background: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
  --soft-background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  --red-background: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
  --supersoft-background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  --red-text-background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
}

.slider__checker, #nav__toggle {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Montserrat ", sans-serif;
  font-weight: 400;
  color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.219;
}

h1 {
  font-size: 38px;
  background: var(--red-text-background);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

h3.caps {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--regular-color);
}

h4 {
  font-size: 16px;
  color: var(--background-color);
}

h5 {
  font-size: 38px;
  color: #FFFFFF;
}

h6 {
  font-size: 14px;
  color: var(--regular-color);
}

p {
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

li {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

img {
  display: block;
  max-width: 100%;
}

a {
  transition: 0.3s;
  cursor: pointer;
}

p a:hover, h4 a:hover {
  color: var(--accent-color);
}

.theme-publication {
  background: var(--background-color);
  padding: 30px 30px 0 30px;
}
@media screen and (min-width: 768px) {
  .theme-publication {
    padding: 30px 60px 30px 60px;
    margin-top: 60px;
  }
}

.theme-home.theme-services {
  background-image: var(--supersoft-background);
  background-size: 100% 100%;
  border-radius: 0 0 12px 12px;
  position: relative;
}

.offer {
  display: block;
}
.offer__block_img {
  display: flex;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .offer__block_img {
    display: none;
  }
}
.offer__block_img-ml {
  display: none;
}
@media screen and (min-width: 768px) {
  .offer__block_img-ml {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.upper-letter {
  padding: 0;
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.text-color {
  color: var(--text-color);
}

.offer__block_title {
  background: var(--red-text-background);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  margin-top: -10px;
}

.offer__block__about {
  background: var(--background-color);
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 0 0 12px 12px;
}

.offer__slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
.offer__slider_circle {
  width: 16px;
  height: 16px;
  background: var(--regular-color);
  opacity: 0.2;
  border-radius: 50%;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  padding-left: 30px;
  padding-right: 30px;
  background: var(--regular-color);
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  text-decoration: none;
  border-radius: 12px;
  border-color: transparent;
}

.button:hover {
  background: #0085FF;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
}

.button:active {
  background: #006CCF;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
}

.publication__button-switch {
  display: flex;
  justify-content: center;
  height: 42px;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

input.publication__input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: visible;
}

label.publication__label {
  cursor: pointer;
  text-indent: -9999px;
  width: 233px;
  height: 42px;
  background: var(--separator-color);
  display: block;
  border-radius: 12px;
  position: relative;
  z-index: 1;
}

input.publication__input:before {
  content: "articles";
  position: absolute;
  top: 3px;
  left: calc(50vw - 10px);
  width: 105px;
  height: 38px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--main-color);
  z-index: 3;
}
@media screen and (min-width: 768px) {
  input.publication__input:before {
    left: calc(50vw - 40px);
  }
}

label.publication__label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 105px;
  height: 38px;
  background: #fff;
  border-radius: 12px;
  transition: 0.3s;
}

label.publication__label:hover:after {
  background: var(--background-color);
  width: 105px;
  height: 38px;
  border-radius: 12px;
}

input.publication__input:checked + label.publication__label {
  background: var(--separator-color);
}

input.publication__input:checked + label.publication__label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

label.publication__label:active:after {
  width: 130px;
  border: 1px solid var(--main-color);
}

p.publication_switch-text {
  line-height: 38px;
  font-size: 20px;
  font-weight: 700;
  color: var(--main-color);
}

.box__switch-text {
  position: absolute;
  z-index: 2;
  top: calc(-50% + 3px);
  left: calc(50vw - 128px);
}
@media screen and (min-width: 768px) {
  .box__switch-text {
    left: calc(50vw - 158px);
  }
}

.box__toggle {
  display: flex;
  width: 100%;
  height: 42px;
  justify-content: center;
}

.container__toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 233px;
  height: 42px;
  padding-left: 2px;
  background: var(--separator-color);
  border-radius: 12px;
}

.button-news {
  display: block;
  width: 105px;
  height: 38px;
  background: #FFFFFF;
  border-radius: 12px;
  text-decoration: none;
  text-align: center;
  color: var(--main-color);
}
.button-news:hover {
  background: var(--background-color);
  color: var(--main-color);
}

.button-news:active {
  background: var(--separator-color);
}
.button-news:active a.button-article {
  background: #FFFFFF;
  opacity: 1;
}

.button-article {
  display: block;
  width: 105px;
  height: 38px;
  background: var(--separator-color);
  opacity: 1;
  border-radius: 12px;
  text-decoration: none;
  color: var(--main-color);
  text-align: center;
}
.button-article:hover {
  background: var(--background-color);
  color: var(--main-color);
}

.link {
  color: var(--text-color);
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--regular-color);
}

.link:active {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--accent-color);
}

li a.refer {
  color: var(--text-color);
  text-decoration: none;
  display: inline-block;
}

.refer:hover {
  color: var(--regular-color);
}

.refer:active {
  color: var(--accent-color);
}

.provider-logo {
  display: flex;
  justify-content: center;
}
.provider-logo_box {
  display: block;
  width: 523px;
  height: 630px;
}
@media screen and (min-width: 768px) {
  .provider-logo_box {
    width: 893px;
    height: 1024px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .provider-logo_box {
    width: 697px;
    height: 799px;
  }
}
.provider-logo_box__link:hover svg g circle, .provider-logo_box__link:hover svg g path {
  stroke: var(--accent-color);
}
.provider-logo_box_img {
  display: block;
  position: relative;
  bottom: -440px;
  margin: auto;
}
.provider-logo_box_img g:hover {
  stroke: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .provider-logo_box_img {
    bottom: -560px;
  }
}

.provider-logo__title {
  position: absolute;
  top: 200px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .provider-logo__title {
    top: 450px;
    left: calc(50% - 348px);
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .provider-logo__title {
    top: 350px;
  }
}

g path {
  stroke: #FFFFFF;
}

g circle {
  stroke: #FFFFFF;
}

.theme-home {
  background-image: url("../img/Symbol.png"), var(--supersoft-background);
  background-repeat: no-repeat;
  background-size: 523px 600px, 100% 100%;
  background-position-x: center;
  border-radius: 0 0 12px 12px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .theme-home {
    background-size: 893px 1024px, 100% 100%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .theme-home {
    background-size: 697px 799px, 100% 100%;
  }
}
.theme-home a, .theme-home span, .theme-home p, .theme-home h3.experience__content_title {
  color: #FFFFFF;
}
.theme-home h1 {
  background: #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.theme-home span.span {
  background: #FFFFFF;
}
.theme-home .header__refer__phone {
  color: #FFFFFF;
}
.theme-home .header__refer__phone:hover {
  color: var(--accent-color);
}
.theme-home .header__top {
  background: rgba(245, 245, 250, 0.2);
}
@media screen and (min-width: 768px) {
  .theme-home .header__top {
    background: transparent;
  }
}
.theme-home .header__refer__facebook .facebook {
  fill: var(--accent-color);
  stroke: #FFFFFF;
}
.theme-home .logo__label .legal {
  fill: #FFFFFF;
}
.theme-home #nav__toggle:checked ~ .nav__toggle span.span {
  background: var(--accent-color);
  color: var(--accent-color);
}
.theme-home .maintenance {
  background: var(--separator-color);
  color: var(--regular-color);
}
.theme-home .maintenance:active {
  color: var(--accent-color);
}
.theme-home .link:hover {
  color: #FFFFFF;
}

.theme-home:after {
  content: "";
  display: block;
  background: var(--shadow-color);
  background-position-y: bottom;
  position: absolute;
  left: 20px;
  bottom: -10px;
  height: 10px;
  width: calc(100% - 40px);
  border-radius: 0 0 12px 12px;
}

.shadow {
  display: block;
  background: var(--shadow-light-color);
  width: calc(100% - 80px);
  margin: 10px auto 0 auto;
  height: 10px;
  border-radius: 0 0 12px 12px;
}

.experience {
  color: var(--text-color);
  padding-top: 0;
  padding-left: 30px;
  margin-bottom: 30px;
  margin-top: -90px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .experience {
    display: flex;
    flex-direction: row;
    height: 303px;
    padding-left: 150px;
    padding-right: 180px;
    margin-bottom: 57px;
    margin-top: 20px;
  }
}
.experience__titles {
  padding: 0;
  margin-top: 0;
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
  height: 80px;
  width: calc(100% - 30px);
}
@media screen and (min-width: 768px) {
  .experience__titles {
    padding-left: 30px;
    width: calc(100% - 100px);
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .experience__titles {
    height: 275px;
    margin-right: 0;
    margin-left: auto;
    padding: 14px 60px;
    border-bottom: none;
    border-right: 4px solid rgba(255, 255, 255, 0.3);
  }
}
@media screen and (min-width: 768px) {
  .experience__titles__text {
    font-weight: 400;
  }
}
.experience__nav {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .experience__nav {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .experience__nav {
    flex-direction: column;
    max-width: 390px;
    margin-right: 0;
    margin-left: auto;
  }
}
.experience__nav__list {
  padding: 0;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  overflow-x: hidden; /******************/
  width: 100%;
}
@media screen and (min-width: 768px) {
  .experience__nav__list {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .experience__nav__list {
    max-width: 390px;
    height: 275px;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.experience__nav__list li {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1440px) {
  .experience__nav__list li {
    text-align: right;
  }
}
.experience__nav_link {
  text-decoration: none;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .experience__nav_link {
    font-size: 38px;
  }
}
.experience__content {
  padding: 30px 30px 30px 0;
}
@media screen and (min-width: 768px) {
  .experience__content {
    padding: 30px 30px 30px 30px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .experience__content {
    margin-left: 0;
    padding-left: 30px;
  }
}
.experience__content_title {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .experience__content_title {
    font-size: 30px;
  }
}

.consistent_title {
  margin-top: 0;
  margin-bottom: 0;
}

li a[tabindex="0"] {
  background: var(--red-text-background);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .content {
    padding: 60px;
  }
}

p.upper-letter {
  text-transform: uppercase;
  color: var(--regular-color);
}

#services__title {
  font-size: 30px;
  background: var(--red-text-background);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 768px) {
  #services__title {
    font-size: 38px;
    margin-bottom: 60px;
  }
}

.services__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .services__container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
  }
}
.services__block_title {
  color: var(--regular-color);
}
.services__block_img {
  background: #FFFFFF;
  width: 52px;
  height: 52px;
  border-radius: 24px;
  padding: 20px;
}

.partner-logo_title {
  font-size: 14px;
  color: var(--main-color);
  text-align: center;
  padding-top: 30px;
}

.logo-box {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .logo-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.logo-box_img {
  display: block;
  width: 100%;
}
.logo-box_img-ml {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo-box_img-ml {
    display: block;
    width: 100%;
  }
}

section.publication {
  padding-bottom: 0;
  margin: 0;
}

.publication {
  background: var(--background-color);
}
.publication__space {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
  .publication__space {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .publication__space {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1440px) {
  .publication__area {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 50%;
    gap: 30px;
    margin-bottom: 0;
  }
}
.publication__img {
  display: flex;
  width: 100%;
  max-height: 100%;
  align-self: center;
  overflow: hidden;
}
@media screen and (min-width: 1440px) {
  .publication__img {
    display: none;
  }
}
.publication__img-xl {
  display: none;
}
@media screen and (min-width: 1440px) {
  .publication__img-xl {
    display: flex;
    align-self: center;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
}
.publication__title {
  margin-bottom: 20px;
}
.publication__description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: #FFFFFF;
  border-radius: 12px 12px 8px 8px;
  padding: 30px;
  margin: 0;
}
.publication__description_title {
  color: var(--regular-color);
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.dash-grey {
  display: block;
  width: 100%;
  height: 4px;
  background: var(--separator-color);
  margin: 0 auto;
}

.separator {
  height: 2px;
}

p.publication-date {
  color: var(--text-color);
  font-size: 12px;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.publication__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .publication__container {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.publication-box {
  display: block;
  background: #FFFFFF;
  border-radius: 12px 12px 8px 8px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .publication-box {
    width: 100%;
    max-height: 100%;
  }
}
.publication__button-block {
  display: flex;
  justify-content: center;
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .publication__button-block {
    padding-bottom: 60px;
  }
}

.footer {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    align-items: start;
  }
}
.footer__set-line {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__set-line {
    gap: 30px;
  }
}
.footer__refer__map {
  text-decoration: none;
  color: var(--main-color);
}
.footer__refer__map:hover {
  color: var(--accent-color);
}
.footer__refer__map_address {
  margin: 0;
  padding: 0;
}
.footer__refer__area {
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 0;
  text-decoration: none;
  color: var(--regular-color);
}
@media screen and (min-width: 768px) {
  .footer__refer__area {
    margin: 0;
  }
}
.footer__refer__area:hover {
  color: var(--accent-color);
}
.footer__refer__facebook {
  fill: var(--regular-color);
  margin-bottom: 0;
}
.footer__refer__facebook:hover {
  fill: var(--accent-color);
}
.footer__refer__phone {
  margin-bottom: 10px;
}
.footer__refer__mail {
  text-decoration: none;
  margin-bottom: 0;
  color: var(--regular-color);
}
@media screen and (min-width: 768px) {
  .footer__refer__mail {
    margin: 0;
  }
}
.footer__bottom-text {
  color: var(--text-color);
  padding: 0;
  margin: 0;
}
.footer__upper-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__upper-line {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 282px;
    margin-left: 0;
    padding-left: 0;
  }
}
.footer__upper-line_title.publication__description_title {
  margin: 0;
  padding: 0;
}
.footer__midl-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .footer__midl-line {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 386px;
    margin-left: -10px;
  }
}
.footer__midl-line_title {
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding: 0;
}
.footer__bottom-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
@media screen and (min-width: 1440px) {
  .footer__bottom-line {
    align-items: end;
  }
}

a.header__refer__phone {
  color: var(--alternativ-color);
}

.slider {
  position: relative;
}
.slider__item {
  display: none;
}
.slider__dots {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  left: 0;
  top: calc(100% + 32px);
  gap: 16px;
}
.slider__dots label {
  display: flex;
  color: transparent;
  background: var(--regular-color);
  opacity: 0.2;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.slider__checker[value="1"]:checked ~ .slider__list .slider__item:nth-child(1) {
  display: block;
}
.slider__checker[value="1"]:checked ~ .slider__dots label:nth-child(1) {
  opacity: 1;
}
.slider__checker[value="2"]:checked ~ .slider__list .slider__item:nth-child(2) {
  display: block;
}
.slider__checker[value="2"]:checked ~ .slider__dots label:nth-child(2) {
  opacity: 1;
}
.slider__checker[value="3"]:checked ~ .slider__list .slider__item:nth-child(3) {
  display: block;
}
.slider__checker[value="3"]:checked ~ .slider__dots label:nth-child(3) {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
