.provider-logo {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) {

  }
  &_box {
    display: block;
    width: 523px;
    height: 630px;
    @media screen and (min-width: 768px) {
      width:893px ;
      height: 1024px;
      @media screen and (min-width: 1440px) {
        width: 697px;
        height: 799px;
      }
    }
    &__link{
      &:hover {
        svg g circle,svg g path {
          stroke: var(--accent-color);
        }
      }
    }
    &_img {
      display: block;
      position: relative;
      bottom: -440px;
      margin: auto;
      & g:hover {
        stroke: var(--accent-color);
      }
      @media screen and (min-width: 768px) {
        bottom: -560px;
      }
    }
  }
}
.provider-logo__title {
  position: absolute;
  top: 200px;
  text-align:center ;
  margin-left: 30px;
  margin-right: 30px;
  @media screen and (min-width: 768px) {
    top: 450px;
    left: calc(50% - 348px);
    @media screen and (min-width: 1440px){
      top: 350px;
    }
  }
}
g path{
  stroke: #FFFFFF ;
}
g circle {
  stroke: #FFFFFF ;
}
